@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/Logo.jpg" alt="Logo de Biblioteca JH de la Cruz" width="100" height="100">
    <h1 class="display-4">Biblioteca JH de la Cruz</h1>
    <p>Sistema diseñado para gestionar préstamos de libros en una biblioteca. Registra usuarios, realiza préstamos y lleva el control de las actividades de la biblioteca.</p>
</div>

